
.three-cols {
  column-count: 3;
  column-gap: normal;
}

.movie-text
{
  border-radius: 5px;
  border-style: solid;
  border-color: #444;
  color: black;
  display: table;
  width: 100%;
}

.link-button a
{
  color:white;
}

.three-cols > * {
  break-inside: avoid;
}
